# Database connection settings
DATABASE_HOST=localhost      # Not used in docker-compose, but can be used for local development
DATABASE_PORT=5432           # Not used in docker-compose, but can be used for local development
DATABASE_USER=postgres       # Used in docker-compose for the POSTGRES_USER environment variable
DATABASE_PASSWORD=postgres   # Used in docker-compose for the POSTGRES_PASSWORD environment variable
DATABASE_DB=appdb            # Used in docker-compose for the POSTGRES_DB environment variable